
<div class="alert alert-info text-center">{{title}}</div>

<form name="myform" class="form-horizontal css-form" role="form" novalidate>
    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.name.$valid ]">
        <label for="name" class="col-md-2 control-label text-right" >名称:</label>
        <div class="col-md-10">
            <input type="text" ng-model="tmpapi.name" name="name" id="name" class="form-control" required />
            <div>
                <small class="text-danger" ng-show="myform.name.$error.required && (myform.name.$dirty || submitted)">必须填入API名称</small>
                <small class="text-success" ng-show="myform.name.$valid">
                    <span class="glyphicon glyphicon-ok"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.name.$valid ]">
        <label for="apiName" class="col-md-2 control-label text-right">接口:</label>
        <div class="col-md-10">
            <input type="text" ng-model="tmpapi.apiName" name="apiName" id="apiName" class="form-control" required />
            <div>
                <small class="text-danger" ng-show="myform.apiName.$error.required && (myform.apiName.$dirty || submitted)">必须填入接口名称</small>
                <small class="text-success" ng-show="myform.apiName.$valid">
                    <span class="glyphicon glyphicon-ok"></span>
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="value" class="col-md-2 control-label text-right">返回值:</label>
        <div class="col-md-10">
            <div style="margin-bottom: 10px;" ng-repeat="apiReturn in apiReturns track by $index">
                <label for="key" class="col-md-1 control-label text-right" >key</label>
                <div class="col-md-3">
                    <input ng-model="apiReturn.key" name="key" id="key" class="form-control" required/>
                </div>
                <label for="value" class="col-md-2 control-label text-right">value</label>
                <div class="col-md-4">
                    <input ng-model="apiReturn.value" id="value" class="form-control" required />
                </div>
                <div>
                    <a class="btn" ng-if="apiReturns.length!=1" ng-click="tmpapiEditCtrl.remove($index)">删除</a>
                    <!--ng-if="methods.sort.name"-->
                </div>
            </div>
        </div>
        <div class="col-md-10 text-right">
            <button type="button" class="btn btn-primary navbar-btn" ng-click="tmpapiEditCtrl.addApi()">增加</button>
        </div>
    </div>
    <div class="form-group">
        <label for="version" class="col-md-2 control-label text-right">版本:</label>
        <div class="col-md-10">
            <!--<div class="col-md-6" >-->
                <!--<input type="checkbox" ng-click="toggleAll()" ng-model="selectAll"/>-->
                <!--<span>全部</span>-->
            <!--</div>-->
            <!--<div class="col-md-6" ng-repeat="item in tmpVersion" id="version">-->
                <!--<input type="checkbox" value="{{item.appsId}}" ng-checked="tmpapi.appId.indexOf(item.appsId)>-1"  ng-click="toggleCheck(item.appsId)" />-->
                <!--&lt;!&ndash;ng-checked="tmpapi.customValue.indexOf(item.id)>-1"&ndash;&gt;-->
                <!--<span>{{item.appKeyName}} {{item.appsAppOs}}{{item.appsAppVersion}}</span>-->
            <!--</div>-->

            <app-version-select
                    type="video"
                    id="tablet.id"
                    returnValue="app.appId"
                    app-ver-list="tabVersion">

            </app-version-select>

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 text-center">
            <a class="btn btn-primary" ng-click="tmpapiEditCtrl.checkCloseDialog()" ng-disabled="submitStatus">保存</a>
        </div>

        <div class="col-md-6 text-center">
            <a class="btn btn-primary" ng-click="closeThisDialog(0)">取消</a>
        </div>
    </div>
</form>

<div class="alert alert-danger" ng-show="errorMessage!=''">{{errorMessage | errorMsg}}</div>

