<div class="alert alert-info text-center">{{title}}</div>

<form name="myform" class="form-horizontal css-form" role="form" novalidate ng-click="changeCtrl.hide()">
	<!-- 编辑热门搜索 -->
	<div class="group-form" ng-if="type ==0 " >
		<div class="col-md-6" dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="totalItems" >
			<label class="radio-inline">
				<input type="checkbox" name="option"  ng-checked="item.check" id="option" ng-model="option" value="{{item.id}}"  ng-click="ckMore(item,option)">
				<span ng-if="item.name">{{item.appKeyName}} {{item.name}}.{{item.version}}</span>
				<span ng-if="!item.name">错误数据</span>
			</label>
		</div>
		<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

		<!-- /.row -->
		<!-- 	<label class="col-md-3" dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="totalItems" >
		<input type="checkbox" name="option" id="option" ng-model="option" value="{{item.id}}" ng-checked="item.check" ng-click="ckMore(item,option)">
		<span class="btn btn-link text-overflow" style="width:80px">{{item.name}}{{item.version}}</span>
	</label>
	<div class="clearfix"></div>
	<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
	-->
</div>

<div class="group-form" ng-if="type ==1 ">
	<label class="col-md-3" dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="totalItems">
		<input type="radio" name="option" id="option" ng-model="option" value="{{item.id}}" ng-click="ckModel(item,option)">
		<span>{{item.name}}</span>
	</label>
	<div class="clearfix"></div>
	<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>

<div class="clearfix"></div>
<div class="form-group ">
	<div class="col-md-6 text-center">
		<a class="btn btn-primary" ng-click="closeThisDialog(rItem)" ng-disabled="submitStatus">保存</a>
	</div>
	<div class="col-md-6 text-center">
		<a class="btn btn-primary" ng-click="closeThisDialog(0)">取消</a>
	</div>
</div>
</form>