
<div class="alert alert-info text-center">{{title}}</div>

<form name="myform" class="form-horizontal css-form" role="form" novalidate>

    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userName.$valid ]">
        <label for="userName" class="col-md-3 control-label text-right">账号：</label>
        <div class="col-md-9">
            <input type="text" ng-model="account.userName" ng-blur="accountEditCtrl.checkUserName(account.userName)" name="userName" id="userName" class="form-control" required ng-maxlength="20" ng-minLength="3"/>
            <small class="text-danger" ng-show="myform.userName.$error.required && (myform.userName.$dirty || submitted)">请输入登陆名称</small>
            <small class="text-danger" ng-show="myform.userName.$error.minlength">名称最小3个字符</small>
            <small class="text-danger" ng-show="myform.userName.$error.maxlength">名称最大不能超过20个字符</small>
            <small class="text-danger" ng-show="userNameChecked=='no'">账号已存在！</small>
            <small class="text-success" ng-show="userNameChecked=='ok' && myform.userName.$valid">
                <span class="glyphicon glyphicon-ok"></span>
            </small>
        </div>

    </div>

   <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userName.$valid ]">
        <label for="userPassword" class="col-md-3 control-label text-right">密码：</label>
        <div class="col-md-9" ng-if="account.id">
            <input type="password" ng-model="account.userPassword" name="userPassword" id="userPassword" class="form-control"  ng-maxlength="20" ng-minLength="2"/>
            <small class="text-danger" ng-show="myform.userPassword.$error.required && (myform.userPassword.$dirty || submitted)">必须填入功能名称</small>
            <small class="text-danger" ng-show="myform.userPassword.$error.minlength">名称最小2个字符</small>
            <small class="text-danger" ng-show="myform.userPassword.$error.maxlength">名称最大不能超过20个字符</small>
        </div>
        <div class="col-md-9" ng-if="!account.id">
            <input type="password" ng-model="account.userPassword" name="userPassword" id="userPassword" class="form-control" required ng-maxlength="20" ng-minLength="2"/>
            <small class="text-danger" ng-show="myform.userPassword.$error.required && (myform.userPassword.$dirty || submitted)">必须填入功能名称</small>
            <small class="text-danger" ng-show="myform.userPassword.$error.minlength">名称最小2个字符</small>
            <small class="text-danger" ng-show="myform.userPassword.$error.maxlength">名称最大不能超过20个字符</small>
        </div>
    </div>

    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userPassword.$valid ]">
        <label for="password_verify" class="col-md-3 control-label text-right">确认密码：</label>
        <div class="col-md-9" ng-if="!account.id">
            <input type="password" ng-model="passwrod_verify" name="password_verify" id="password_verify" class="form-control" required data-password-verify="account.userPassword"/>
            <small class="text-danger" ng-show="myform.password_verify.$error.required && (myform.password_verify.$dirty || submitted)">请输入密码!</small>
            <small class="text-danger" ng-show="myform.password_verify.$error.passwordVerify">两次输入的密码不一致！</small>
        </div>
        <div class="col-md-9" ng-if="account.id">
            <input type="password" ng-model="passwrod_verify" name="password_verify" id="password_verify" class="form-control"  data-password-verify="account.userPassword"/>
            <small class="text-danger" ng-show="myform.password_verify.$error.required && (myform.password_verify.$dirty || submitted)">请输入密码!</small>
            <small class="text-danger" ng-show="myform.password_verify.$error.passwordVerify">两次输入的密码不一致！</small>
        </div>
    </div>


    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userPersonName.$valid ]">
        <label for="userPersonName" class="col-md-3 control-label text-right">昵称：</label>
        <div class="col-md-9">
            <input type="text" ng-model="account.userPersonName" name="userPersonName" id="userPersonName" class="form-control" required ng-maxlength="20" ng-minLength="2"/>
            <small class="text-danger" ng-show="myform.userPersonName.$error.required && (myform.userPersonName.$dirty || submitted)">必须填入功能名称</small>
            <small class="text-danger" ng-show="myform.userPersonName.$error.minlength">名称最小2个字符</small>
            <small class="text-danger" ng-show="myform.userPersonName.$error.maxlength">名称最大不能超过20个字符</small>
        </div>
    </div>

    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userUnitName.$valid ]">
        <label for="userUnitName" class="col-md-3 control-label text-right">单位：</label>
        <div class="col-md-9">
            <input type="text" ng-model="account.userUnitName" name="userUnitName" id="userUnitName" class="form-control" required ng-maxlength="20" ng-minLength="2"/>
            <small class="text-danger" ng-show="myform.userUnitName.$error.required && (myform.userUnitName.$dirty || submitted)">必须填入功能名称</small>
            <small class="text-danger" ng-show="myform.userUnitName.$error.minlength">名称最小2个字符</small>
            <small class="text-danger" ng-show="myform.userUnitName.$error.maxlength">名称最大不能超过20个字符</small>
        </div>
    </div>

    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userEmail.$valid ]">
        <label for="userEmail" class="col-md-3 control-label text-right">邮箱：</label>
        <div class="col-md-9">
            <input type="email" ng-model="account.userEmail" name="userEmail" id="userEmail" class="form-control" ng-blur="accountEditCtrl.isEmail(myform)" required />
            <small class="text-danger" ng-show="myform.userEmail.$error.required && (myform.userEmail.$dirty || submitted)">邮箱不能为空</small>
            <small class="text-danger" ng-show="!myform.userEmail.$error.required && myform.$error.emailError">邮箱格式不正确</small>
        </div>
    </div>

    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.userTelephone.$valid ]">
        <label for="userTelephone" class="col-md-3 control-label text-right">手机号码：</label>
        <div class="col-md-9">
            <input type="text" ng-model="account.userTelephone" name="userTelephone" id="userTelephone" ng-blur="accountEditCtrl.ckPhone(myform)" class="form-control" required ng-maxlength="11" ng-minLength="11"/>
            <small class="text-danger" ng-show="myform.userTelephone.$error.required && (myform.userTelephone.$dirty || submitted)">手机格式不能为空</small>
            <small class="text-danger" ng-show="!myform.userTelephone.$error.required && myform.$error.phomeError">手机格式不正确</small>
        </div>
    </div>

    <div class="form-group" >
        <label for="roleId" class="col-md-3 control-label text-right">角色：</label>
        <div class="col-md-9">
            <select ng-model="userRole" name="roleId" id="roleId" class="form-control"
                    ng-options="role.roleName for role in roles" >
            </select>
            <small class="text-danger" ng-show="userRole==null && submitted">必须选择一个角色</small>
        </div>
    </div>

    <div class="alert alert-danger" ng-show="errorMessage!=''">{{errorMessage | errorMsg}}</div>

    <div class="form-group">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary" ng-click="accountEditCtrl.checkCloseDialog()" ng-disabled="submitStatus">保存</button>
        </div>
        <div class="col-md-6 text-center">
            <button class="btn btn-primary" ng-click="closeThisDialog(0)">取消</button>
        </div>
    </div>
</form>