<div class="alert alert-info">
	<h4>权限设置</h4>
</div>

<div class="clearfix" style="margin-bottom: 20px;"></div>

<div id="alert_info" ng-show="search_error">
	<div class="alert alert-danger">{{search_error_msg}}</div>
</div>
<table class="table table-bordered table-hover table-striped">
	<tr>
		<th colspan="2" width="100%">权限设置</th>
	</tr>
	<tr>
		<td colspan="7" ng-show="loading_list">
			<div style="position: relative;height:50px;">
				<span us-spinner ></span>
			</div>
		</td>
	</tr>
	<tr ng-repeat="item in items">
		<td>
			<label>
				<input type="checkbox" ng-model="selectAll" ng-checked="item.obj[0].check" ckall-box>{{item.obj[0].name}}</label>
		</td>
		<td>
			<div class="checkbox" style="width:15% !important;display:inline-block !important" ng-repeat="option in item.obj[0].options">
				<label>
					<input type="checkbox" ng-checked="selectAll || option.ckstatus" ng-click="powerCtrl.toggleSelection(option)">{{option.permissionControllerName}}</label>
			</div>
		</td>
	</tr>
</table>
<div class="col-md-4">
	<!-- ngIf: methods.create.name -->
	<button class="btn btn-primary ng-binding ng-scope" ng-click="powerCtrl.save()"  ng-disabled="submitStatus">保存</button>
	<button class="btn btn-primary ng-binding ng-scope" ng-click="itemCtrl.back()">取消</button>
	<!-- end ngIf: methods.create.name -->
</div>