 <div class="alert alert-info">
 	<h4>频道管理</h4>
 </div>
 <div class="row">
 	<div class="col-md-4">
 		<a class="btn btn-primary" ui-sref="site.oms.contents.createvideo({videoId:-1})">{{ methods.create.alias }}</a>
 		<a class="btn btn-primary" ng-click="deleteAll()" ng-if="methods.dels.name">{{ methods.dels.alias }}</a>
 		<a class="btn btn-primary" ng-click="channelCtrl.selectline(1)" ng-if="methods.changestatus.name">批量上线</a>
 		<a class="btn btn-primary" ng-click="channelCtrl.selectline(2)" ng-if="methods.changestatus.name" >批量下线</a>
 	</div>

 	<div class="col-md-8" ng-if="methods.index.name">
 		<form class="form-inline pull-right" role="form">

            <div class="form-group">
                <label for="searchAreaName">地域：</label>
                <select id="searchAreaName" class="form-control" ng-model="searchParams.areaId"  ng-change="itemCtrl.search()">
                    <option value="">全部</option>
                    <option value="{{area.areaId}}" ng-repeat="area in areaList">{{area.areaName}}</option>
                </select>
            </div>

 			<div class="form-group">
 				<label class="sr-only" for="searchCpName">频道名称</label>
 				<input type="text" class="form-control" ng-model="searchParams.name" ng-enter="itemCtrl.search()" id="searchCpName" placeholder="频道名称"></div>
 			<div class="form-group">
 				<label class="sr-only">计费类型</label>
 				<select class="form-control" ng-model="searchParams.chargeType" ng-change="itemCtrl.search()">
 					<option value=''>全部</option>
 					<option value='0'>免费</option>
 					<option value='1'>收费</option>
 				</select>
 			</div>

 			<div class="form-group">
 				<label class="sr-only" for="searchCpName">频道状态</label>
 				<select class="form-control ng-pristine ng-valid ng-touched" ng-model="searchParams.videoStatus" ng-change="itemCtrl.search()" id="videoStatus">
 					<option value="">全部</option>
 					<option value="1">上线</option>
 					<option value="2">下线</option>
 				</select>
 			</div>
 			<a type="submit" class="btn btn-primary" ng-click="itemCtrl.search()">搜索</a>
 		</form>
 	</div>
 	<div class="col-md-12"><a href="javascript:;;">{{totalItems}} 条信息</a></div>
 </div>
 <div class="clearfix" style="margin-bottom: 20px;"></div>

 <div id="alert_info" ng-show="search_error">
 	<div class="alert alert-danger">{{search_error_msg}}</div>
 </div>
 <table class="table table-bordered table-hover table-striped">
 	<tr>
 		<th width="2%">
 			<input type="checkbox" ng-model="selectAll" ng-click="toggleAll()" /> 
 		</th>
 		<th width="10">ID</th>
 		<th width="23">名称</th>
        <th width="8%">分类</th>
 		<th width="30">是否关联EPG</th>
 		<th width="5%">状态</th>
 		<th width="8%">计费类型</th>
 		<th width="15%">创建时间</th>
 		<th width="25%">操作</th>
 	</tr>
 	<tr>
 		<td colspan="7" ng-show="loading_list">
 			<div style="position: relative;height:50px;">
 				<span us-spinner ></span>
 			</div>
 		</td>
 	</tr>
 	<tr dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="totalItems">
 		<td>
 			<input type="checkbox" value="{{ item.id }}" name="ids[]" ng-model="item.checked" ng-checked="selectAll" ng-click="toggleSelection(item.id)" /> 
 		</td>
 		<td>{{ item.id }}</td>
 		<td>{{ item.name }}</td>
 		<td>{{ item.categoryList }}</td>
 		<td>{{ item.relationEpg==1 ? '是':'否' }}</td>
 		<td>
 			<span ng-repeat="val in statusVal">
 				<label ng-if="val.val==item.videoStatus">{{val.name}}</label>
 			</span>
 		</td>
 		<td>{{item.chargeTypeName}}</td>
 		<td>
 			{{ item.createdAt!=0 ? (item.createdAt*1000 | date:'yyyy-MM-dd HH:mm:ss') : '' }}
 		</td>
 		<td>
 			<a ng-if="item.videoStatus==0 || item.videoStatus==2" class="btn btn-default" ng-click="channelCtrl.update(item,1)" ng-if="methods.changestatus.name">上线</a>
 			<a ng-if="item.videoStatus==1" class="btn btn-default" ng-click="channelCtrl.update(item,2)" ng-if="methods.changestatus.name">下线</a>
 			<a class="btn btn-default" ui-sref="site.oms.contents.createvideo({videoId:item.id})" ng-if="methods.update.name">编辑</a>
 			<a class="btn btn-default" ng-if="item.videoStatus==0 || item.videoStatus==2" ng-click="itemCtrl.deleteItem(item.id, $event)" ng-if="methods.dels.name">删除</a>
 			<a class="btn btn-default" ng-click="itemCtrl.belongArea(item.id,item.videoType,'video', $event)" >所属地域</a>
 			<a class="btn btn-default" ui-sref="site.oms.contents.bindVideo({videoId:item.id})" >屏蔽设置</a>
 		</td>
 	</tr>
 </table>
 <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>