<div class="alert alert-info">
    <h4>节目单管理</h4>
</div>

<div class="row">

    <div class="col-md-4">
        <button class="btn btn-primary" ui-sref="site.oms.epg.video">返回EPG管理</button>
        <button class="btn btn-primary" ng-click="itemCtrl.createItem()" ng-if="methods.create.name">新增</button>
        <button class="btn btn-primary" ng-click="deleteAll()" ng-if="methods.dels.name">删除</button>
    </div>

    <div class="col-md-8" ng-if="methods.index.name">
        <form class="form-inline pull-right" role="form">
            <div class="form-group">
                <label class="sr-only" for="searchShowName">节目名称</label>
                <input type="text" class="form-control" ng-model="searchParams.programName" id="searchShowName" placeholder="节目名称">
            </div>
            <div class="form-group">
                <label class="sr-only" for="startTime" >开始年月日</label>
                <input class="form-control" ng-model="searchParams.time" id="startTime" type="text" placeholder="开始年月日"
                      data-autoclose="1" bs-datepicker
                       date-format="yyyy-MM-dd"/>
                <label class="sr-only" for="startTime" >时分秒</label>
                <input size="8" class="form-control" ng-model="searchParams.time" data-autoclose="1" placeholder="时分秒" bs-timepicker type="text"
                       time-format="HH:mm" minute-step="1" >
            </div>
            <button type="submit" class="btn btn-primary" ng-click="itemCtrl.search()">搜索</button>
        </form>
    </div>


</div>

<div class="clearfix" style="margin-bottom: 20px;"></div>

<div id="alert_info" ng-show="search_error">
    <div class="alert alert-danger">{{search_error_msg}}</div>
</div>


<table class="table table-bordered table-hover table-striped">
    <tr>
        <th width="3%"><input type="checkbox" ng-model="selectAll" ng-click="toggleAll()" /></th>
        <th width="30%">名称</th>
        <!--<th width="20%">栏目</th>-->
        <th width="30%">开始时间</th>
        <th width="40%">操作</th>

    </tr>

    <tr>
        <td colspan="7" ng-show="loading_list">
            <div style="position: relative;height:50px;">
                <span us-spinner ></span>
            </div>
        </td>
    </tr>

    <tr dir-paginate="item in items | itemsPerPage: itemsPerPage" total-items="totalItems">
        <td><input type="checkbox" value={{item.id}} name="ids[]" ng-model="item.checked" ng-checked="selectAll" ng-click="toggleSelection(item.id)" /></td>
        <td>{{ item.programName }}</td>
        <!--<td>{{ item.showName }}</td>-->
        <td>{{ item.startTime!=0 ? (item.startTime*1000 | date:'yyyy-MM-dd HH:mm:ss') : '' }}</td>
        <td>
            <button class="btn btn-default" ng-click="itemCtrl.editItem(item)">编辑</button>
            <a class="btn btn-default" ng-click="itemCtrl.deleteItem(item.id, $event)" >删除</a>
            <span class="btn btn-default"  style="position: relative;height:35px;width:4em;display:none;">
                <span us-spinner="{radius:1,lenth:4,width:2}" spinner-key="spinner_{{item.id}}"></span>
            </span>
        </td>
    </tr>
</table>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
