
<div class="alert alert-info text-center">正在编辑：{{vod.videoName}}</div>

<form name="myform" class="form-horizontal css-form" role="form" novalidate>

    <div class="form-group">
        <label  class="col-md-3 control-label text-right">来源：{{typeSrc[vod.fromSrc ]}}</label>
        <label  class="col-md-3 control-label text-right">下线/总数：{{ vod.offlineNum}}/{{vod.offlineNum + vod.onlineNum}}</label>
        <label  class="col-md-2 control-label text-right">{{ vod.name }}</label>
        <label  class="col-md-2 control-label text-right">{{typeState[vod.videoStatus]}}</label>

    </div>

    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.score.$valid ]">
        <label for="score" class="col-md-2 control-label text-right">评分：</label>
        <div class="col-md-3">
            <input type="text" ng-model="vod.score" name="score" id="score" class="form-control"/>
        </div>
        <label class="col-md-1 control-label">分</label>

    </div>
    <div class="form-group">
        <label  class="col-md-2 control-label text-right">简介：</label>
        <div class="col-md-9">
            <input type="text" ng-model="vod.introduction" name="introduction" class="form-control" ng-maxlength="11" ng-minLength="1"/>
            <small class="text-danger" ng-show="myform.introduction.$error.minlength">名称最小1个字符</small>
            <small class="text-danger" ng-show="myform.introduction.$error.maxlength">名称最大不能超过11个字符</small>

        </div>

    </div>
    <div class="form-group" >
        <label  class="col-md-2 control-label text-right">推荐语：</label>
        <div class="col-md-9">
            <input type="text" ng-model="vod.recommendation" name="recommendation"  class="form-control" ng-maxlength="11" ng-minLength="1"/>
            <small class="text-danger" ng-show="myform.recommendation.$error.minlength">名称最小1个字符</small>
            <small class="text-danger" ng-show="myform.recommendation.$error.maxlength">名称最大不能超过11个字符</small>

        </div>

    </div>

    <div class="form-group">
        <label for="image" class="col-md-2 control-label text-right">图片：</label>
        <div class="col-md-9">
            <select-image ng-model="vod.images.videoImage" id="image" img="vod.images.videoImage" name="image" ></select-image>
        </div>
    </div>

    <div class="form-group">
        <label for="image" class="col-md-2 control-label text-right">会员类型：</label>
        <div class="col-md-3">
            <select class="form-control" ng-model="vod.vip" >
                <option value="0" ng-selected="0==vod.vip">非会员</option>
                <option value="1" ng-selected="1==vod.vip">会员</option>
                <option value="2" ng-selected="2==vod.vip">限时免费</option>
            </select>

            <!--<select ng-model="vod.vip" ng-options="option as option for option in ['非会员','会员','限时免费']"-->
                   <!--class="form-control" >-->
            <!--</select>-->
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4 text-right">
            <button class="btn btn-primary"  ng-click="vodEditCtrl.checkCloseDialog()" ng-disabled="submitStatus">保存</button>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-primary" ng-click="closeThisDialog(0)">关闭</button>
        </div>
    </div>
</form>