<div class="alert alert-info">
	<h4>当前：<label>{{titleName}}</label>&nbsp;&nbsp;应用版本管理</h4>
</div>

<div class="row">

	<div class="col-md-4" ng-if="methods.create.name">
		<a class="btn btn-primary" ng-click="itemCtrl.createItem()" >新增版本</a>
	</div>

	<div class="col-md-8" ng-if="methods.index.name">
		<form class="form-inline pull-right" role="form">
			<div class="form-group">
				<label class="sr-only" for="searchVersion">版本</label>
				<input type="text" class="form-control" ng-model="searchParams.appVersion"  id="searchVersion" placeholder="版本" ng-keydown="itemCtrl.search()"></div>
			<div class="form-group">
				<label class="sr-only" for="searchCreater">创建人</label>
				<input type="text" class="form-control" ng-model="searchParams.userName" ng-keyup="itemCtrl.search()" id="searchCreater" placeholder="创建人"></div>
			<div class="form-group">
				<label class="sr-only" for="searchPlatform">操作系统</label>
				<select class="form-control" ng-model="searchParams.appsAppOs" id="searchPlatform" ng-change="itemCtrl.search()">
					<option value="">操作系统</option>
					<option value="IOS">IOS</option>
					<option value="Android">Android</option>
				</select>
			</div>

			<a type="submit" class="btn btn-primary" ng-click="itemCtrl.search()">搜索</a>
		</form>
	</div>

</div>

<div class="clearfix" style="margin-bottom: 20px;"></div>

<div id="alert_info" ng-show="search_error">
	<div class="alert alert-danger">{{search_error_msg}}</div>
</div>

<table class="table table-bordered table-hover table-striped">
	<tr>
		<th width="5%">版本</th>

		<th width="10%">说明</th>
		<th width="10%">操作系统</th>
		<th width="10%">创建人</th>
		<th width="20%">创建时间</th>
		<th width="10%">强制升级</th>

		<th width="35%">操作</th>

	</tr>

	<tr>
		<td colspan="7" ng-show="loading_list">
			<div style="position: relative;height:50px;">
				<span us-spinner ></span>
			</div>
		</td>
	</tr>

	<tr ng-repeat="item in items ">
		<td>{{ item.appVersion }}</td>
		<td>{{ item.appsDescription }}</td>
		<td>{{ item.appsAppOs }}</td>
		<td>{{ item.userName }}</td>
		<td>
			{{ item.appsCreatedAt!=0 ? (item.appsCreatedAt*1000 | date:'yyyy-MM-dd HH:mm:ss') : '' }}
		</td>
		<td>{{ item.appsIsUpdate==0 ? '否' : '是' }}</td>
		<td>
			<a class="btn btn-default" ng-click="itemCtrl.editItem(item)" ng-if="methods.update.name">编辑</a>
			<a class="btn btn-default" ng-click="itemCtrl.deleteItem(item.id, $event)" ng-if="methods.dels.name">删除</a>
			<a class="btn btn-default" ng-click="itemCtrl.operation(item,1)" ng-if="methods.update.name">设置频道</a>
			<a class="btn btn-default" ng-click="itemCtrl.operation(item,0)" ng-if="methods.update.name">设置栏目</a>
			<a class="btn btn-default" ng-click="itemCtrl.operation(item,2)" ng-if="methods.update.name">设置模块</a>
			<span class="btn btn-default"  style="position: relative;height:35px;width:4em;display:none;">
				<span us-spinner="{radius:1,lenth:4,width:2}" spinner-key="spinner_{{item.id}}" ></span>
			</span>
			<a class="btn btn-default" ng-click="itemCtrl.forceUpdate(item)" ng-if="methods.forceUpdate.name">升级管理</a>
		</td>
	</tr>

</table>
<!--<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->
