
<div class="alert alert-info text-center">{{title}}</div>

<form name="myform" id="myform" class="form-horizontal css-form" role="form" novalidate>
    <div class="form-group" ng-class="{true:'has-error'}[ submitted && !myform.cpName.$valid ]">
        <label for="name" class="col-md-3 control-label text-right">名称:</label>
        <div class="col-md-9">
            <input type="text"  ng-model="cp.cpName" name="cpName" id="cpName" class="form-control" required ng-maxlength="20" ng-minLength="2"/>
            <small class="text-danger" ng-show="myform.cpName.$error.required && (myform.cpName.$dirty || submitted)">请输入CP名称</small>
            <small class="text-danger" ng-show="myform.cpName.$error.minlength">名称最小2个字符</small>
            <small class="text-danger" ng-show="myform.cpName.$error.maxlength">名称最大不能超过20个字符</small>
            <small class="text-success" ng-show="myform.cpName.$valid">
                <span class="glyphicon glyphicon-ok"></span>
            </small>
        </div>
    </div>
    <div class="form-group">
        <label for="cpImage" class="col-md-3 control-label text-right">图片:</label>
        <div class="col-md-9">
            <select-image ng-model="cp.cpImage" id="cpImage" img="cp.cpImage" name="cpImage"></select-image>
        </div>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="version" class="col-md-3 control-label text-right">地域:</label>-->
        <!--<div class="col-md-9" id="area">-->
            <!--<label class="col-md-6 control-label" style="text-align: left;padding-left:0" >-->
                <!--<input type="checkbox" ng-model="selectAll" ng-click="toggleAll()" />-->
                <!--<span>全部</span>-->
            <!--</label>-->
            <!--<label class="col-md-6 control-label" style="text-align: left;padding-left:0"  ng-repeat="item in areaCp">-->
                <!--<input type="checkbox" value="{{item.id}}" ng-checked="cp.ids.indexOf(item.id)>-1" ng-click="toggleAreaCheck(item.id)" />-->
                <!--<span>{{item.areaName}} </span>-->
            <!--</label>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label for="cpUrl" class="col-md-3 control-label text-right">URL:</label>
        <div class="col-md-9">
            <input type="text" ng-model="cp.cpUrl" name="cpUrl" id="cpUrl" class="form-control" ng-maxlength="200" ng-minLength="2"/>
        </div>
    </div>
	<div class="form-group">
		<label for="cpDescription" class="col-md-3 control-label text-right">描述：</label>
        <div class="col-md-9">
            <textarea type="text" ng-model="cp.cpDescription" name="cpDescription" id="cpDescription" class="form-control" ></textarea>
        </div>
	</div>
	<div class="form-group">
		<div class="col-md-6 text-center">
			<button class="btn btn-primary" ng-click="cpsEditCtrl.checkCloseDialog()" ng-disabled="submitStatus">保存</button>
		</div>

		<div class="col-md-6 text-center">
			<button class="btn btn-primary" ng-click="closeThisDialog(0)">取消</button>
		</div>
	</div>
</form>

<!--<div class="alert alert-danger" ng-show="errorMessage!=''">-->
<!--{{errorMessage}}-->
<!--</div>-->
